body{font-family: 'Josefin Sans', sans-serif;
}
h1{font-size:100;
        }
h2{margin:auto 125px;
        }
#motherboard{border:solid black 5px; margin:auto 50px;padding:20px; padding-top:5px
        }
#cpu{border:solid black 5px;margin:auto 50px;padding:20px;padding-top:5px;
        }
#ram{border:solid black 5px;margin:auto 50px;padding:20px;padding-top:5px;
        }
#harddrive{border:solid black 5px;;margin:auto 50px;padding:20px;padding-top:5px;
        }
#keyboard{border:solid black 5px;margin:auto 50px;padding:20px;padding-top:5px;
        }
#mouse{border:solid black 5px;margin:auto 50px;padding:20px;padding-top:5px;
        }
#monitor{border:solid black 5px; margin:auto 50px;padding:20px;padding-top:5px;
        }