p{font-size: 30px;
text-align:center;
    
}
body{
background-color:  #aa80ff;
font-family:'Josefin Sans', sans-serif;
}


#navbar{
    text-align:center;
     font-family: 'Josefin Sans', sans-serif;
    margin-top: 50px;
    font-size:30px;
    color:black;
}
#navbar li{
    display:inline-block;
    border:2px solid black;
    background-color:#aa80ff;
}
a:visited{
    color:black ;
}
h2{text-align:center;
}
h1{text-align:center;
    
}