#welcome{
text-align:center;
font-size:50px;

}
p{text-indent: 30px;
font-size: 30px;
text-align:justify;
    
}
#pusheen

body{background-color:rgb(153, 204, 255);
    
}
#navbar{
    text-align:center;
     font-family: 'Josefin Sans', sans-serif;
    margin-top: 50px;
    font-size:30px;
}

#navbar li{
    display:inline-block;
    border:2px solid black;
}