body{
    font-family: 'Josefin Sans', sans-serif; 
    
    
   
}
.whoareyou{margin-left:375px;
    margin-right:375px;
    border:2px solid grey;
    padding:10px;}
#omgfunny{width:200px}
#sirius{width:250px}
#short{width:275px}
#emoji{width:250px;}